
@{
}

<br />
<h1>
    Register For Internship
</h1>

<form class="container" method="post">

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3" >
        <label for="phone" class="form-label">Phone</label>
        <input type="number" class="form-control" name="phone">
    </div>


    <div class="mb-3">

        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" name="Address">
    </div>
    


    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>


</form>
