@model mvcRegistrations.Models.RegisterUser
@{

}

<form method="post">
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" id="username" asp-for="Username">
    </div>


    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" id="email" asp-for="Email">
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="password" asp-for="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>