@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Website</h1>
    
    <h3>
        This website is under development ..after completion here u will find gaming content videos ,News and other related stuff
    </h3>
</div>
