@{
    ViewData["Title"] = "Secure Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Secure landing page </h1>
    <h2 class="display-4">This page can be viewed only after succesful login </h2>
    <h3>
        This website is under development ..after completion here u will find gaming content videos ,News and other related stuff
    </h3>
</div>
